body {
  font-family: 'Montserrat', sans-serif;
}

.cockadu {

  &-container {
    width: 1920px;
    margin: 0 auto;
    color: #00154A;
  }

  &-logo {
    margin-top: 12px;
  }

  &-header {
    width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
  }

  &-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__link {
      margin-left: 40px;
      text-decoration: none;
      color: #00154A;
      font-size: 18px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      &_btn {
        padding: 20px 43px;
        background: #3567E8;
        border-radius: 30px;
        color: #ffffff;

        &:hover {
          box-shadow: 0 0 10px #000000;
          text-decoration: none;
        }
      }
    }
  }

  &-main {
    width: 1500px;
    margin: 0 auto;
    position: relative;
    padding: 135px 0 100px;

    &__img {
      position: absolute;

      &_1 {
        top: 27px;
        left: 205px;
      }

      &_2 {
        top: 39px;
        right: 17px;
      }

      &_3 {
        top: 475px;
        left: 95px;
      }

      &_4 {
        top: 462px;
        right: 158px;
      }
    }
  }

  &-title {
    text-align: center;
    font-size: 78px;
    font-weight: 700;

    &_main {
      letter-spacing: 1.5px;
    }
  }

  &-subtitle {
    font-size: 58px;
    font-weight: 700;
  }

  &-description {
    text-align: center;
    font-size: 20px;
    margin: 22px 0 52px;
    line-height: 35px;
  }

  &-button {
    width: 230px;
    text-align: center;
    margin: 0 auto 32px;
    padding: 19px 40px;
    background: #3567E8;
    border-radius: 30px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 10px #000000;
    }
  }

  &-free {
    color: #A1A1A1;
    text-align: center;
    margin-bottom: 263px;
  }

  &-section {
    margin-bottom: 50px;
    
    
    &_detail {
      margin-top: 177px;
    }

    &_join {
      margin: 50px 0 0;
      padding-top: 105px;
      height: 527px;
      background: #00154A url(/img/bg.png) no-repeat;
      color: #ffffff;

      .cockadu-title {
        width: 1500px;
        margin: 0 auto 20px;
      }

      .cockadu-description {
        font-size: 28px;
        line-height: 40px;
        width: 700px;
        margin: 0 auto;
      }

      .cockadu-button {
        font-size: 28px;
        font-weight: 500;
        margin: 51px auto;
        padding: 24px 16px;
        border-radius: 40px;
        width: 300px;
      }
    }
  }

  &-img {
    margin-top: 91px;
  }

  &-list {
    background: rgba(53, 103, 232, 0.03);
    border-radius: 20px;
    padding: 20px 20px 20px 210px;
    margin: 72px 0 0 -190px;
    width: 438px;

    &__item {
      margin-bottom: 43px;

      &_active {
        position: relative;
        padding: 42px 40px 38px;
        border-radius: 20px;
        background: #E3E6EF;
        margin-left: -20px;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 12px;
          height: 3px;
          width: 200px;
          background: #00154A;
          border-radius: 3px;
        }
      }
    }

    &__title {
      margin-bottom: 25px;
      font-size: 22px;  
    }

    &__description {
      margin-bottom: 25px;
      font-size: 18px;
      line-height: 30px;
    }

    &__more {
      font-size: 18px;
      color: #3567E8;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &-col {
    position: relative;

    &__title {
      font-weight: 600;
      font-size: 38px;
      line-height: 50px;
      margin-bottom: 17px;
    }

    &__description {
      font-size: 20px;
      line-height: 30px;
    }

    &__button {
      position: absolute;
      width: 165px;
      padding: 18px;
      font-size: 20px;
      text-align: center;
      margin: 26px auto;
      border-radius: 30px;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 10px #000000;
      }

      &_white {
        background: #ffffff;
        color: #00154A;
      }

      &_black {
        background: #00154A;
        color: #ffffff;
      }
    }

    &_corp {
      width: 600px;
      padding: 361px 0 0 38px;
      background: url(/img/pic1.png) 88px 82px no-repeat;

      .cockadu-col__button {
        margin-left: 181px;
      }
    }

    &_pres {
      width: 630px;
      height: 576px;
      padding: 42px 115px;
      margin-top: 74px;
      color: #ffffff;
      background: url(/img/pic2.png) no-repeat;

      .cockadu-col__description {
        margin: 64px 0 0 332px;
        width: 365px;
      }

      .cockadu-col__button {
        margin: 114px 0 0 234px;
      }
    }

    &_quiz {
      width: 800px;
      height: 439px;
      padding: 41px 400px 20px 39px;
      background: url(/img/pic3.png) no-repeat;

      .cockadu-col__title {
        margin-bottom: 34px;
      }

      .cockadu-col__description {
        width: 400px;
      }

      .cockadu-col__button {
        margin: 42px 0 0 265px;
      }
    }

    &_test {
      padding: 15px 0px 0 0;
      margin: 0 0 0 -15px;
      background: url(/img/pic4.png) 331px 10px no-repeat;

      .cockadu-col__title {
        margin-bottom: 11px;
      }

      .cockadu-col__button {
        margin: 71px 0 0 184px;
      }
    }

    &_teach {
      height: 430px;
      padding: 36px 30px 30px 665px;
      background: url(/img/pic5.png) no-repeat;
      color: #ffffff;

      .cockadu-col__button {
        bottom: 38px;
        left: 648px;
      }
    }

    &_lead {
      width: 758px;
      padding: 30px 0px 20px 35px;
      background: url(/img/pic6.png) 126px 143px no-repeat;

      .cockadu-col__description {
        margin-top: 324px;
      }

      .cockadu-col__button {
        bottom: 15px;
        left: 263px;
      }
    }

    &_design {
      width: 800px;
      height: 355px;
      padding: 375px 60px 20px 165px;
      background: url(/img/pic7.png) no-repeat;
      background-size: contain;
      color: #ffffff;

      .cockadu-col__title {
        margin-bottom: 30px;
      }

      .cockadu-col__button {
        left: 396px;
        bottom: 14px;
      }
    }
  }

  &-footer {
    width: 1500px;
    margin: 0 auto;
    padding: 120px 0 50px;

    &__row {
      display: flex;
      padding: 0 102px;
    }

    &__col {
      width: 250px;
      margin-right: 15px;

      &_product {
        margin-right: 88px;
      }

      &_support {
        margin-right: 92px;
      }
    }

    &__title {
      font-size: 18px;
      margin-bottom: 25px;
      color: #00154A;
      text-transform: uppercase;
      font-weight: 600;
      white-space: nowrap;
    }

    &__link {
      display: block;
      text-decoration: none;
      color: #00154A;
      font-size: 18px;
      margin-bottom: 20px;
      white-space: nowrap;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-copy {
    font-size: 16px;
    text-align: center;
    margin: 30px 0 0;
  }
}