body {
  font-family: 'Montserrat', sans-serif;
}

.cockadu-container {
  width: 1920px;
  margin: 0 auto;
  color: #00154A;
}

.cockadu-logo {
  margin-top: 12px;
}

.cockadu-header {
  width: 1500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}

.cockadu-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cockadu-menu__link {
  margin-left: 40px;
  text-decoration: none;
  color: #00154A;
  font-size: 18px;
  cursor: pointer;
}

.cockadu-menu__link:hover {
  text-decoration: underline;
}

.cockadu-menu__link_btn {
  padding: 20px 43px;
  background: #3567E8;
  border-radius: 30px;
  color: #ffffff;
}

.cockadu-menu__link_btn:hover {
  -webkit-box-shadow: 0 0 10px #000000;
          box-shadow: 0 0 10px #000000;
  text-decoration: none;
}

.cockadu-main {
  width: 1500px;
  margin: 0 auto;
  position: relative;
  padding: 135px 0 100px;
}

.cockadu-main__img {
  position: absolute;
}

.cockadu-main__img_1 {
  top: 27px;
  left: 205px;
}

.cockadu-main__img_2 {
  top: 39px;
  right: 17px;
}

.cockadu-main__img_3 {
  top: 475px;
  left: 95px;
}

.cockadu-main__img_4 {
  top: 462px;
  right: 158px;
}

.cockadu-title {
  text-align: center;
  font-size: 78px;
  font-weight: 700;
}

.cockadu-title_main {
  letter-spacing: 1.5px;
}

.cockadu-subtitle {
  font-size: 58px;
  font-weight: 700;
}

.cockadu-description {
  text-align: center;
  font-size: 20px;
  margin: 22px 0 52px;
  line-height: 35px;
}

.cockadu-button {
  width: 230px;
  text-align: center;
  margin: 0 auto 32px;
  padding: 19px 40px;
  background: #3567E8;
  border-radius: 30px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
}

.cockadu-button:hover {
  -webkit-box-shadow: 0 0 10px #000000;
          box-shadow: 0 0 10px #000000;
}

.cockadu-free {
  color: #A1A1A1;
  text-align: center;
  margin-bottom: 263px;
}

.cockadu-section {
  margin-bottom: 50px;
}

.cockadu-section_detail {
  margin-top: 177px;
}

.cockadu-section_join {
  margin: 50px 0 0;
  padding-top: 105px;
  height: 527px;
  background: #00154A url(/img/bg.png) no-repeat;
  color: #ffffff;
}

.cockadu-section_join .cockadu-title {
  width: 1500px;
  margin: 0 auto 20px;
}

.cockadu-section_join .cockadu-description {
  font-size: 28px;
  line-height: 40px;
  width: 700px;
  margin: 0 auto;
}

.cockadu-section_join .cockadu-button {
  font-size: 28px;
  font-weight: 500;
  margin: 51px auto;
  padding: 24px 16px;
  border-radius: 40px;
  width: 300px;
}

.cockadu-img {
  margin-top: 91px;
}

.cockadu-list {
  background: rgba(53, 103, 232, 0.03);
  border-radius: 20px;
  padding: 20px 20px 20px 210px;
  margin: 72px 0 0 -190px;
  width: 438px;
}

.cockadu-list__item {
  margin-bottom: 43px;
}

.cockadu-list__item_active {
  position: relative;
  padding: 42px 40px 38px;
  border-radius: 20px;
  background: #E3E6EF;
  margin-left: -20px;
}

.cockadu-list__item_active:before {
  content: '';
  position: absolute;
  top: 0;
  left: 12px;
  height: 3px;
  width: 200px;
  background: #00154A;
  border-radius: 3px;
}

.cockadu-list__title {
  margin-bottom: 25px;
  font-size: 22px;
}

.cockadu-list__description {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 30px;
}

.cockadu-list__more {
  font-size: 18px;
  color: #3567E8;
}

.cockadu-list__more:hover {
  text-decoration: none;
}

.cockadu-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}

.cockadu-col {
  position: relative;
}

.cockadu-col__title {
  font-weight: 600;
  font-size: 38px;
  line-height: 50px;
  margin-bottom: 17px;
}

.cockadu-col__description {
  font-size: 20px;
  line-height: 30px;
}

.cockadu-col__button {
  position: absolute;
  width: 165px;
  padding: 18px;
  font-size: 20px;
  text-align: center;
  margin: 26px auto;
  border-radius: 30px;
  cursor: pointer;
}

.cockadu-col__button:hover {
  -webkit-box-shadow: 0 0 10px #000000;
          box-shadow: 0 0 10px #000000;
}

.cockadu-col__button_white {
  background: #ffffff;
  color: #00154A;
}

.cockadu-col__button_black {
  background: #00154A;
  color: #ffffff;
}

.cockadu-col_corp {
  width: 600px;
  padding: 361px 0 0 38px;
  background: url(/img/pic1.png) 88px 82px no-repeat;
}

.cockadu-col_corp .cockadu-col__button {
  margin-left: 181px;
}

.cockadu-col_pres {
  width: 630px;
  height: 576px;
  padding: 42px 115px;
  margin-top: 74px;
  color: #ffffff;
  background: url(/img/pic2.png) no-repeat;
}

.cockadu-col_pres .cockadu-col__description {
  margin: 64px 0 0 332px;
  width: 365px;
}

.cockadu-col_pres .cockadu-col__button {
  margin: 114px 0 0 234px;
}

.cockadu-col_quiz {
  width: 800px;
  height: 439px;
  padding: 41px 400px 20px 39px;
  background: url(/img/pic3.png) no-repeat;
}

.cockadu-col_quiz .cockadu-col__title {
  margin-bottom: 34px;
}

.cockadu-col_quiz .cockadu-col__description {
  width: 400px;
}

.cockadu-col_quiz .cockadu-col__button {
  margin: 42px 0 0 265px;
}

.cockadu-col_test {
  padding: 15px 0px 0 0;
  margin: 0 0 0 -15px;
  background: url(/img/pic4.png) 331px 10px no-repeat;
}

.cockadu-col_test .cockadu-col__title {
  margin-bottom: 11px;
}

.cockadu-col_test .cockadu-col__button {
  margin: 71px 0 0 184px;
}

.cockadu-col_teach {
  height: 430px;
  padding: 36px 30px 30px 665px;
  background: url(/img/pic5.png) no-repeat;
  color: #ffffff;
}

.cockadu-col_teach .cockadu-col__button {
  bottom: 38px;
  left: 648px;
}

.cockadu-col_lead {
  width: 758px;
  padding: 30px 0px 20px 35px;
  background: url(/img/pic6.png) 126px 143px no-repeat;
}

.cockadu-col_lead .cockadu-col__description {
  margin-top: 324px;
}

.cockadu-col_lead .cockadu-col__button {
  bottom: 15px;
  left: 263px;
}

.cockadu-col_design {
  width: 800px;
  height: 355px;
  padding: 375px 60px 20px 165px;
  background: url(/img/pic7.png) no-repeat;
  background-size: contain;
  color: #ffffff;
}

.cockadu-col_design .cockadu-col__title {
  margin-bottom: 30px;
}

.cockadu-col_design .cockadu-col__button {
  left: 396px;
  bottom: 14px;
}

.cockadu-footer {
  width: 1500px;
  margin: 0 auto;
  padding: 120px 0 50px;
}

.cockadu-footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 102px;
}

.cockadu-footer__col {
  width: 250px;
  margin-right: 15px;
}

.cockadu-footer__col_product {
  margin-right: 88px;
}

.cockadu-footer__col_support {
  margin-right: 92px;
}

.cockadu-footer__title {
  font-size: 18px;
  margin-bottom: 25px;
  color: #00154A;
  text-transform: uppercase;
  font-weight: 600;
  white-space: nowrap;
}

.cockadu-footer__link {
  display: block;
  text-decoration: none;
  color: #00154A;
  font-size: 18px;
  margin-bottom: 20px;
  white-space: nowrap;
}

.cockadu-footer__link:hover {
  text-decoration: underline;
}

.cockadu-copy {
  font-size: 16px;
  text-align: center;
  margin: 30px 0 0;
}
/*# sourceMappingURL=main.css.map */